.a{
    margin: 75px;
    font-size:200px;
    color: #134ccf;
}
.b{
    margin: 75px;
    font-size:30px;
    color:blue
}
.c{
    margin: 75px;
    width: 530px;
    height: 100px;
    text-align: justify;
}
.ed{
    background-color:gainsboro;

}
.i2{
    text-align: justify;
    width: 350px;
    padding-left: 100px;
    margin-left: 100px;
}
.i{
    padding-left: 200px;
    font-size: 40px;
    color: blue;
}
.k2 {
    display: flex;
} 
.k1 {
    padding-left: 300px;
    }
.but1{ color: blue; text-align: center; margin-top: -200px;}
.para{ text-align: center;}
.si{
    background-color:blue;
    padding-bottom: 50px;
    width: 900px;
    height: 100px;
}
.edw{
    background-color: gainsboro;
    width: 800px;
    height: '400px;
}
.a10{
    margin-left: 40px;
    width: 500px;
    line-height: 25px;
    text-align: justify;
}
.je{
    margin-top: 40px;
    margin-left: 70px;
}
.saw{text-align: right;}

.mon{
    position: relative;
    bottom: 350px;
    margin-left: 300px;
    font-size: 50px;
}
.ce{
    position: relative;
    bottom: 400px;
    margin-right: 200px;
    margin-left: 200px;
    
}
.sa{
    margin-left: 800px;
    bottom: 800px;
    position: relative;
}
.right{
    position:relative;
    bottom: 750px;
    margin-left: 800px;

}


.son{
    
    color: blue;
    bottom: 800px;
    position:relative;
    font-size: 40px; 
    bottom: 800px;
}
.lui{
    background-color:gainsboro;
    width: 1111px;
    height:400px;
    padding-top: 30px;
}
.les{
    color:black;
    margin-left:200px;
    bottom: 200px;
    position: relative;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.lu{
    bottom: 800px;
    position: relative;
}

.lo{
    color:blue;
    margin-left:200px;
    bottom: 190px;
    position: relative;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;

    
}
.do{
    margin-left: 400px;
    position: relative;
    bottom: 450px;

}
.n7{
    padding-left: 130px;
    margin-right:800px;
    bottom: 230px;
    position: relative;
}
.da{
    padding-left: 130px;
    margin-right:800px;
    bottom: 250px;
    position: relative;
}
.n8{
     
    padding-left: 630px;
    margin-right:800px;
    bottom: 600px;
    position: relative;
}
.elle{
    margin-left: 900px;
    position: relative;
    bottom: 700px;
}

.my{
    padding-left: 630px;
    bottom:700px;
    position: relative;
}  

.ar{
    margin-left: 800px;
    position: relative;
    bottom: 700px;
    font-size: 30px;
}
.a67{
    
    bottom: 1390px;
    position: relative;
    font-size: 60px;
    text-align: center;
    background-color: gainsboro;
    height: 600px;
    margin-bottom: 33px;
}
.p{
    font-size: 18px;
    bottom: 1800px;
    position: relative;
    margin: 10px;
}
.bless{
    margin-right: 900px;
    bottom: 1740px;
    position: relative;
    text-align: justify;
}
.hub{
    margin-left: 900px;
    bottom: 1860px;
    position: relative;
    text-align: justify;
}
.tc{
    margin-right: 950px;
    bottom: 2060px;
    position: relative;
    text-align: justify;
    color: blue;
    font-size: 30px;
}
.n15{
    padding-left: 900px;
    bottom: 1700px;
    position: relative         
}
.z2{
color: blue;
position: relative;
    bottom: 1690px;
    margin-left: 950px;
    font-size: 30px;
}
.n15{
    border-radius: 20%;
}
.z3{
    position: relative;
    bottom: 1690px;
    margin-left: 900px;
    font-size: 20px;
} 
.z4{
    position: relative;
    bottom: 1690px;
    margin-left: 900px;
    font-size: 10px;  
}



.fin{
    bottom: 1790px;
    position: relative;
    font-size: 50px;
    text-align: center;
    background-color:;
    height: 200px;
    margin-bottom: 33px;
}

.fin{
    font-size: "30px";
    bottom: 1600px;
    position: relative;
}
            